@tailwind base;
@tailwind components;
@tailwind utilities;

#search-input-container{
   box-shadow:  rgba(55, 53, 47, 0.09) 0px 1px 0px
}

.search-option{
    @apply pl-1.5 pr-1.5 relative;
}

.search-pill{
    @apply pl-2 pr-2 text-sm h-24px rounded-32px leading-5 hover:bg-search-option/[0.08] hover:cursor-pointer;
    border: 1px solid rgba(55, 53, 47, 0.16);
    color: rgba(55, 53, 47, 0.65);
}

.option-list{
    @apply absolute pt-12px pb-8px rounded-6px bg-white;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
    max-width: calc(100vw - 24px);
    max-height: 70vh;
}

.option-list-item{
    @apply ml-1 mr-1 pl-12px pr-12px rounded-4px text-sm flex items-center hover:bg-nav-item-active/[0.04] hover:cursor-pointer;
    width: calc(100% - 8px);
    min-height: 28px;
    color: rgba(55, 53, 47, 0.8);
}

#search-category-label{
    color: rgba(55, 53, 47, 0.65);
}

#category-result:hover{
    background: rgba(227, 226, 224, 0.5);
}